
/* CONTACT INFO PAGE STYLES */

.contact-info {
    text-align: center;
    width: 90%;
    margin: auto;
  }
  
  .contact-addresses {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  @media (max-width: 600px) {
    .contact-addresses {
      flex-direction: column;
    }
  }