:root {
  --font-heading: 'Lora', serif;
  --font-body: Georgia, serif;
  --font-small: 'Open Sans', sans-serif;
  --text-color: #333;
  --background-color: #F9F6F1;
}

a {
  color: #2e7ba5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-small);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-align: center;
}

p {
  font-family: var(--font-body);
}

.p1, h2 {
  font-size: 1.7rem;
}


.p2 {
  font-size: 1.3rem;
}

.homepage-floral-welcome h1 {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 2.5rem;
}

.homepage-floral-welcome {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.floral-accent {
  width: 100%;
  max-width: 120px;
  height: auto;
}

.homepage-welcome-text {
  width: 95%;
  margin: auto;
  text-align: center;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-welcome-text-subsection {
  width: 80%;
}

.homepage-welcome-text p {
  text-align: center; 
}

.homepage-welcome-text a{
  color: #2e7ba5; 
}

.subscribe-form-div {
  display: flex; 
  width: 60%; 
  margin: auto;
  justify-content: center; 
  align-items: center;
}

@media screen and (max-width: 600px) {
  .p1, .p2{
    font-size: 1.2rem;
  }

  .homepage-floral-welcome h1 {
    font-size: 1.5rem;
    padding: 0px;
  }

  .floral-accent {
    height: 65px;
    width: auto;
  }

  .homepage-floral-welcome {
    gap: 0.5rem;
    align-items: center;
  }

  .subscribe-form-div {
    width: 90%;
  }
  
}



/* CONTACT INFO PAGE STYLES */

.contact-info {
  text-align: center;
  width: 90%;
  margin: auto;
}

.contact-addresses {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .contact-addresses {
    flex-direction: column;
  }
}

/* CALENDAR STYLING */ 
.calendar-agenda {
  display: none;
}

@media (max-width: 600px) {
  .calendar-full {
    display: none;
  }
  .calendar-agenda {
    display: block;
  }
  .calendar-agenda-div {
    width: 90%;
    margin: auto;
  }
}





/* JOIN/MEMBER PAGE STYLING  */ 

.membership-info-div .p2 {
  width: 80%;
  margin: auto;
}

.membership-info-div .p1, 
.membership-info-div .p2 {
  text-align: center; 
}

.membership-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.membership-info-breakdown .dues {
  /*text-align: left;*/
  margin-bottom: 0;
}

.membership-info-breakdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  padding: 0;
  margin:0;
}

.membership-info-breakdown ul {
  padding-left: 1.5rem;
  margin-top: 0;
}

.membership-info-breakdown ul a{
  color: #2e7ba5;
}

.membership-info-breakdown .third-button {
  width: 50%;
  align-self: center;
  margin-top: 1rem;
}

.membership-application-buttons {
  display: flex; 
  justify-content: space-evenly;
  gap: 1rem;
}

.member-steps {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  width: 75%;
  margin: auto; 
  margin-bottom: 1rem;
}

.mailto {
  color: #333;
}

@media screen and (max-width: 1090px) {
  .membership-info-breakdown {
    border: 3px solid #2e7ba5;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 3em;
  }

  .membership-options, .member-steps{
    flex-direction: column;
    justify-self: center;
  }

}

/* RENTAL STYLING */
.rental-div p {
  text-align: center;
}

.rental-div ul {
  width: 100%; 
  max-width: 400px;
  margin: auto;
}

/* About Us Styling */ 


.about-container {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.quote {
  text-align: center;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.middot {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.org-title {
  text-decoration: underline;
}

.org-list-div h3, .org-list-div p {
  text-align: left;
}

.org-list-div {
  width: 100%;
  max-width: 500px;
}

.acff-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


@media screen and (max-width: 1090px) {
  .acff-div{
    flex-direction: column;
    justify-self: center;
  }

}

/* History page */ 

.emsymb-div h4 {
  text-align: left;
}

.season-lesson-div {
  text-align: center;
}

.history-div {
  margin: 0 auto;
  padding: 1rem;
}

/*About Page */

.about-header, .about-join{
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-join {
  margin-top: 2rem;
}

.about-header-text, .about-join-text {
  max-width: 38%;

}

.about-header-img, .about-join-img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}



@media screen and (max-width: 1090px) {
  .about-header {
    flex-direction: column;
  }

  .about-header-img, .about-join-img {
    width: 100%;
  }

  .about-header-text, .about-join-text {
    max-width: 95%;
  }

  .about-join {
    flex-direction: column-reverse;
  }

}


.calendar-section {
  width: 98%;
  margin: auto; 
}

.calendar-section iframe {
  border-radius: 15px;
}
