:root {
  --font-heading: 'Lora', serif;
  --font-body: Georgia, serif;
  --font-small: 'Open Sans', sans-serif;
  --text-color: #333;
  --background-color: #F9F6F1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-small);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-align: center;
}

p {
  font-family: var(--font-body);
}

.p1, h2 {
  font-size: 1.7rem;
}


.p2 {
  font-size: 1.3rem;
}

.homepage-floral-welcome h1 {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 2.5rem;
}

.homepage-floral-welcome {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.floral-accent {
  width: 100%;
  max-width: 120px;
  height: auto;
}

.homepage-welcome-text {
  width: 95%;
  margin: auto;
  text-align: center;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-welcome-text-subsection {
  width: 80%;
}

.homepage-welcome-text p {
  text-align: center; 
}

.homepage-welcome-text a{
  color: #2e7ba5; 
}

.subscribe-form-div {
  display: flex; 
  width: 60%; 
  margin: auto;
  justify-content: center; 
  align-items: center;
}

@media screen and (max-width: 600px) {
  .p1, .p2{
    font-size: 1.2rem;
  }

  .homepage-floral-welcome h1 {
    font-size: 1.5rem;
    padding: 0px;
  }

  .floral-accent {
    height: 65px;
    width: auto;
  }

  .homepage-floral-welcome {
    gap: 0.5rem;
    align-items: center;
  }

  .subscribe-form-div {
    width: 90%;
  }
  
}



/* CONTACT INFO PAGE STYLES */

.contact-info {
  text-align: center;
  width: 90%;
  margin: auto;
}

/* CALENDAR STYLING */ 
.calendar-agenda {
  display: none;
}

@media (max-width: 600px) {
  .calendar-full {
    display: none;
  }
  .calendar-agenda {
    display: block;
  }
  .calendar-agenda-div {
    width: 90%;
    margin: auto;
  }
}
