:root {
  --font-heading: 'Lora', serif;
  --font-body: Georgia, serif;
  --font-small: 'Open Sans', sans-serif;
  --text-color: #333;
  --background-color: #F9F6F1;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-small);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

p {
  font-family: var(--font-body);
}

.p1 {
  font-size: 1.7rem;
}

.p2 {
  font-size: 1.3rem;
}

.homepage-floral-welcome h1 {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 2.5rem;
}

.homepage-floral-welcome {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.floral-accent {
  width: 120px;
  height: auto;
}

.homepage-welcome-text {
  width: 95%;
  margin: auto;
  text-align: center;
}

.homepage-welcome-text p {
  text-align: center; 
}

@media screen and (max-width: 768px) {
  .p1, .p2{
    font-size: 1.2rem;
  }

  .homepage-floral-welcome h1 {
    font-size: 1.5rem;
    padding: 0px;
  }

  .floral-accent {
    height: 65px;
    width: auto;
  }

  .homepage-floral-welcome {
    gap: 0.5rem;
    align-items: center;
  }
  
}

